html{
    height: 100%;
}
body{
    background:  -webkit-linear-gradient(top, #c04848 6%,#480048 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Bree Serif', serif;
    color: white;
}
.wrapper{
    margin-left: 5%;
    margin-top: 15%;
}

.wrapper h1{
    font-size: 50px;
    margin-top: 0;
}

.wrapper h3{
    margin-bottom: 0;
}

.wrapper span{
    display: inline-block;
    text-align: left;
    font-size: 26px;
}

.wrapper img{
    width: 40px;
    margin: 80px 10px 0px 10px;
}

.wrapper a{
    color: white;
    margin: 20px;
}

.wrapper i{
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
}

.wrapper .social{
    margin-top: 50px;
}


span.cursor{
    font-size: 35px;
	margin-left: 2px;
	-webkit-animation: blink 0.7s infinite;
     -moz-animation: blink 0.7s infinite;
     animation: blink 0.7s infinite;
}

.social{
    position: relative;
}

@media (max-width: 768px) {
    .wrapper h1 {
        font-size: 34px;
    }
    .wrapper h3 {
        font-size: 24px;
    }
    .wrapper span{
        font-size: 22px;
    }
    .wrapper .social i {
        font-size: 22px;
    }
    .wrapper .social a {
        margin: 5px;
    }
    .wrapper .social {
        text-align: center;
    }

}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}