.Calendly {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.Calendly img {
  width: 160px;
  transform: rotate(180deg) rotateY(180deg);
  margin-bottom: 2rem;
  margin-left: -100px;
}

@media (min-width: 1200px) {
  .Calendly img {
    width: 120px;
    margin-left: -200px;
  }
}
