.References {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .References {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .References {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Reference {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px dashed white;
  border-radius: var(--border-radius);

  transition: border 200ms ease-in-out;
}

.Reference:hover {
  border: 2px dashed var(--secondary-color);
}

.Reference p {
  margin-bottom: 0;
}

.Reference span {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.ReferenceImage {
  border-radius: 50%;
  width: 80px;
}
