.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 120px;
}

.ContentWrapper {
  width: 100%;
  height: 100%;
  max-width: var(--page-width);
  padding: var(--page-padding);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TopNavigationBar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TopNavigationBar a {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
  margin-right: 2rem;
}

.TopNavigationBar a:last-child {
  margin-right: 0;
}

.TopNavigationBar a.NavLink::before {
  content: "";
  position: absolute;
  height: 0.1563rem;
  width: 0%;
  bottom: -0.125rem;
  background-color: var(--secondary-color);
  transition: 200ms ease-out;
}

.TopNavigationBar .NavLinkActive,
.TopNavigationBar .NavLink {
  position: relative;
}

.TopNavigationBar .NavLink.NavLinkActive::before {
  width: 100%;
}

.TopNavigationBar a.NavLink:hover::before {
  width: 100%;
}

@media (min-width: 768px) {
  .TopNavigationBar a {
    margin-right: 4rem;
  }
}
