.Layout {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: var(--page-width);
}

.Blog {
  margin: 2rem auto;
  max-width: 90%;
  font-family: "Lora", serif;
}

.Blog p,
.Blog li,
.Blog a {
  font-size: 1rem;
  line-height: 1.75rem;
}

.Blog li {
  margin: 0.5rem 0;
}

.Blog h1 {
  margin-bottom: 2rem;
}

.Blog a {
  position: relative;
  color: var(--text-color);
  font-style: italic;
  transition: color 150ms ease-in-out;
}

.Blog a:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: var(--text-color);
  bottom: 0;
  left: 0;
  transition: width 250ms ease-in-out, color 150ms ease-in-out;
}

.Blog a:hover {
  color: var(--secondary-color);
}

.Blog a:hover:before {
  width: 100%;
  background: var(--secondary-color);
}

.Blog em {
}

.Blog code {
  padding: 2px 4px;
  background-color: #1e1e1e;
}

.Blog img {
  width: 100%;
}

@media (min-width: 768px) {
  .Blog {
    margin: 4rem auto;
    max-width: 70%;
  }

  .Blog p,
  .Blog li,
  .Blog a {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
