.Section {
  width: 100%;
  height: auto;
  background: var(--background-color);
}

.Section .Heading {
  margin: 0 0 2rem 0;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.ContentWrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--page-padding);
}
